body{
    background:url("../img/test.png") no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}

header{

    font-size: large;
    padding: 1%;
    text-align: center;
    vertical-align: center;
    border-bottom: 1px solid white;
    margin-bottom: 2%;
    background-color: black;
}
a{

    padding: 1%;
    color: white;
    text-decoration: none;
}
a:hover{
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    border: 1px solid white;
}
p{
    margin-top: 1%;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size: large;
    width: 50%;
    position: absolute;left: 24.9%;
    color: white;
}
.tablediv {
    margin-top: 5%;
}
table{
    vertical-align: center;
    text-align: center;
    background-color: white;
    border: 2px solid white;
    border-collapse: collapse;
    margin-top: 5%;
}
tr,td{
    border: 1px solid white;
    width: 1%;
    height: 25px;
}
fieldset{
    margin-top: 2%;
    background-color: white;
}
legend{
    font-size: large;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    border: 1px solid white;
    background: black;
    color: white;
}

img{
    width: 30%;
    height: 15%;
    margin: 0 auto;
    display: block;
    border: 1px solid white;
}
.color{
    color: white;
    padding-right: 2%;
    text-align: center;
}
